.logo {
    max-width: 100px;
}

.background-preview {
    border: 3px dashed grey;
    flex-grow: 1;
}

.title-area {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 2 rem;
    min-height: calc(75vh);
}

.courses-list .row:hover {
    cursor: pointer;
    border: 1px solid black !important;
}

