.logo {
    max-width: 100px;
}


.background-preview {
    border: 3px dashed grey;
    flex-grow: 1;
}

.title-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    border-radius: 50%;
    color: white;
    font-size: 1.5rem;
    min-height: calc(75vh);
}

.courses-list .row:hover {
    cursor: pointer;
    border: 1px solid black !important;
}

.course-logo {
    min-width: 200px;
    width: 90%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}