{% extends 'visits/base.html' %}
{% from '/pagination.html' import pagination %}
{% block tabs %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Path</th>
        <th scope="col">Count</th>
      </tr>
    </thead>

    <tbody>
      {% for val in values %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ val.path }}</td>
        <td>{{ val.count_path }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {{pagination(count, page)}}
  <a class="btn btn-primary" href="{{url_for('visit.send_csv_pages')}}?from=show_route">Export CSV</a>
{% endblock %}