{% extends 'base.html' %}

{% block content %}
    <div class="w-75 mx-auto mt-3">
        <h1 class="text-center">{{ post.title }}</h1>
        <img src="{{ url_for('static', filename='images/' + post.image_id) }}" alt="Card image cap" class="mw-100 my-3">
        <p class="my-3">{{ post.author }}, {{ post.date }}</p>
        <p class="my-3 text-wrap text-break">{{ post.text }}</p>
        <div class="modal-content flex-column">
            <div class="modal-header">
                <h5 class="my-0">Оставьте комментарий</h5>
            </div>
            <div class="modal-body">
                <form>
                    <textarea name="comments" id="comment" cols="100" rows="3" class="mw-100 my-0"></textarea>
                </form>
            </div>
            <div class="modal-footer mt-0">
                <button type="button" class="btn btn-primary my-0">Отправить</button>
            </div>
        </div>
        {% for comment in post.comments %}
            <div class="comment-block">
                <img src="{{url_for('static', filename='images/' + 'ava.png')}}" class="avatarim" alt="avatar" style="width: 30px; height: 30px">
                <div>
                    <p class="comtext"><strong>{{ comment.author }}</strong></p>
                    <p class="comtext">{{ comment.text }}</p>
                </div>
                
                
                {% if comment.replies %}
                    <div class="reply-block">
                        {% for reply in comment.replies %}
                            <img src="{{url_for('static', filename='images/' + 'ava.png')}}" class="avatarim" alt="avatar" style="width: 30px; height: 30px">
                            <p class="comtext"><strong>{{ reply.author }}:</strong> {{ reply.text }}</p>
                            <div>
                                <img src="{{url_for('static', filename='images/' + 'ava.png')}}" class="avatarim" alt="avatar" style="width: 30px; height: 30px">
                                <p class="comtext"><strong>{{ comment.author }}</strong></p>
                                <p class="comtext">{{ comment.text }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}