{% extends "base.html" %}
{% from '/pagination.html' import pagination %}
{% block content %}
    <div style="color: #341711" class="container">
        <h3 class="text-center mb-3">Книги</h3>
        {% for book in books %}
            <div id="kniga-container" class="row">
                <div class="col">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" height="200px" width="200px" alt="image" />
                </div>
                <div class="col-6">
                    <h4>{{book.name}}</h4>
                    <p>Автор: {{book.author}}</p>
                    <p>Жанр(ы): {{book.janr}}</p>
                    <p>{{book.description}}</p>
                    <p>Год издания: {{book.year}}</p>
                </div>
                <div class="d-flex flex-nowrap justify-content-center">
                    {% if current_user.is_authenticated and current_user.can('show') %}
                    <div>
                        <a style = "background-color: #b19974" class="btn" href="{{url_for('book.show', kniga_id=book.id)}}">Просмотр</a>
                    </div>
                    {% endif %}
                    {% if current_user.is_authenticated and current_user.can('edit') %}
                    <div>
                        <a style = "background-color: #998e46" class="btn" href="{{url_for('book.edit', kniga_id=book.id)}}">Редактирование</a>
                    </div>
                    {% endif %}
                    {% if current_user.is_authenticated and current_user.can('delete') %}
                    <div>
                        <a style = "background-color: #9b6810" class="btn delete btn-circle" data-bs-toggle="modal" data-bs-target="#deleteModal_{{book.id}}">Удаление</a>
                    </div>
                        <div class="modal fade" id="deleteModal_{{book.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Удаление книги</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="mx-auto my-5">Вы уверены, что хотите удалить книгу "{{book.name}}"?</div>
                                    <div class="modal-footer">
                                        <a type="button" class="btn btn-danger" href="{{url_for('book.delete', book_id=book.id)}}">Да</a>
                                        <a type="button" class="btn btn-dark" data-bs-dismiss="modal">Нет</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {{pagination(count, page)}}
    </div>
{% endblock content %}