{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Логин</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Отчество</th>
                <th scope="col">Роль</th>
                <th scope="col">Действия</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <th scope="row">{{user.login}}</th>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>
                  {% if user.middle_name %}
                    {{user.middle_name}}
                  {% endif %}
                </td>
                <td>
                  {% if user.role_name %}
                    {{user.role_name}}
                  {% endif %}
                </td>
                <td>
                  {% if current_user.can('show',user) %}
                    <a class="btn btn-dark" href="{{url_for('show_user', user_id=user.id)}}">Просмотр</a>
                  {% endif %}
                  {% if current_user.can('edit',user) %}
                    <a class="btn btn-dark" href="{{url_for('edit', user_id=user.id)}}">Редактирование</a>
                  {% endif %}
                  {% if current_user.can('delete',user) %}
                    <a class="btn btn-danger delete" data-bs-toggle="modal" data-bs-target="#deleteModal_{{user.id}}">Удалить</a>
                  {% endif %}
                  <div class="modal fade" id="deleteModal_{{user.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!---div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Удаление пользователя</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div!--->
                            <div class="content">
                              <p>Вы уверены, что хотите удалить пользователя {{user.last_name}} {{user.first_name}}?</p>
                            </div>
                            <div class="modal-footer">
                                <a type="button" class="btn1" href="{{url_for('delete', user_id=user.id)}}">Да</a>
                                <a type="button" class="btn2" data-bs-dismiss="modal">Нет</a>
                            </div>
                        </div>
                    </div>
                  </div>
                </td>                
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}