{% macro book_form(action_url, book=None, genres=None) %}
<div class="container">
    {% if not book %}
        <h2 class="my-3 text-center text-uppercase font-weight-bold">Создание карточки книги</h2>
    {% else %}
        <h2 class="my-3 text-center text-uppercase font-weight-bold">Редактирование карточки книги</h2>
    {% endif %}
    <form action="{{ action_url }}" method="POST" enctype="multipart/form-data">
        <div class="mb-3 row">
            <div class="col-md-6 d-flex flex-column">
                <div class="mb-3">
                    <label for="name">Название</label>
                    <input class="form-control" type="text" name="name" id="name" value="{{ book.name or '' }}">
                </div>
                <div class="mb-3">
                    <label for="author">Автор</label>
                    <input class="form-control" type="text" name="author" id="author" value="{{ book.author or '' }}">
                </div>
                <div class="mb-3">
                    <label for="created">Год</label>
                    <input class="form-control" type="text" name="created" id="created" value="{{ book.created_year or '' }}">
                </div>
                <div class="mb-3">
                    <label for="publish">Издательство</label>
                    <input class="form-control" type="text" name="publish" id="publish" value="{{ book.publish or '' }}">
                </div>
                <div class="mb-3">
                    <label for="pagescount">Объем в страницах</label>
                    <input class="form-control" type="text" name="pagescount" id="pagescount" value="{{ book.pages_count or '' }}">
                </div>
                <div class="mb-3 d-flex flex-column flex-grow-1">
                    <label for="short_description">Краткое описание</label>
                    <textarea class="form-control flex-grow-1" name="short_desc" id="short_description" cols="30" rows="5">{{ book.short_desc or '' }}</textarea>
                </div>
                <div class="mb-3">
                    <label for="genres" class="form-label">Жанры</label>
                    <select class="form-control" name="genres" id="genres" multiple {% if request.endpoint == 'create' %} required {% endif %}>
                        {% for genre in genres %}
                        <option value="{{ genre.id }}" {% if book and genre.id in book.genre_ids %}selected{% endif %}>{{ genre.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% if not book %}
            <div class="col-md-6 d-flex flex-column">
                <div class="mb-3">
                    <label for="background_img">Фоновое изображение</label>
                    <input class="form-control" type="file" name="background_img" id="background_img">
                </div>
                <div class="mb-3 background-preview p-3 rounded d-flex align-items-center justify-content-center">
                    <img src="#" class="img-fluid d-none" alt="">
                    <label for="background_img" class="btn btn-dark">Выбрать изображение</label>
                </div>
            </div>
            {% endif %}
        </div>
                
        <div class="mb-3 text-center">
            <input type="submit" class="btn btn-dark" value="Сохранить">
        </div>
    </form>
</div>
{% endmacro %}