{% extends 'base.html' %}
{% block content %}
    <div style = "background-color: #d8cebf;" class="container my-3 ">
        <table style="background-color: #d8cebf; border: 1px solid #000000;"> 
            <thead style="background-color: #d8cebf;"> 
              <tr>
                <th scope="col" style="border: 1px solid #000000; padding: 10px;">Название</th>
                <th scope="col" style="border: 1px solid #000000; padding: 10px;">Автор</th>
                <th scope="col" style="border: 1px solid #000000; padding: 10px;">Краткое описание</th>
                <th scope="col" style="border: 1px solid #000000; padding: 10px;">Год издания</th>
                <th scope="col" style="border: 1px solid #000000; padding: 10px;">Издательство</th>
                <th scope="col" style="border: 1px solid #000000; padding: 10px;">Объем</th>
                <th scope="col" style="border: 1px solid #000000; padding: 10px;">Жанр(ы)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="border: 1px solid #000000; padding: 10px;">{{book.name}}</td>
                <td style="border: 1px solid #000000; padding: 10px;">{{book.author}}</td>
                <td style="border: 1px solid #000000; padding: 10px;">{{book.description}}</td>
                <td style="border: 1px solid #000000; padding: 10px;">{{book.year}}</td>
                <td style="border: 1px solid #000000; padding: 10px;">{{book.publish}}</td>
                <td style="border: 1px solid #000000; padding: 10px;">{{book.pages}}</td>
                <td style="border: 1px solid #000000; padding: 10px;">{% for genre in genres %}<p> {{ genre }}</p> {% endfor %}</td>
              </tr>
            </tbody>
          </table>
    </div>
{% endblock %}